<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-title">Exchange Rate</h4>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end card-header-->
  <div class="card-body pt-0">
    <div class="table-responsive">
      <table class="table mb-0">
        <tbody>
          <tr class="">
            <td class="px-0">
              <div class="d-flex align-items-center">
                <img
                  src="assets/images/flags/us_flag.jpg"
                  class="me-2 align-self-center thumb-sm rounded-circle"
                  alt="..."
                />
                <h6 class="m-0 text-truncate">USA</h6>
              </div>
              <!--end media-->
            </td>
            <td class="px-0 text-end">
              <span class="text-body ps-2 align-self-center text-end fw-medium"
                >0.835230
                <span class="badge rounded text-success bg-success-subtle"
                  >1.10%</span
                ></span
              >
            </td>
          </tr>
          <!--end tr-->
          <tr class="">
            <td class="px-0">
              <div class="d-flex align-items-center">
                <img
                  src="assets/images/flags/spain_flag.jpg"
                  class="me-2 align-self-center thumb-sm rounded-circle"
                  alt="..."
                />
                <h6 class="m-0 text-truncate">Spain</h6>
              </div>
              <!--end media-->
            </td>
            <td class="px-0 text-end">
              <span class="text-body ps-2 align-self-center text-end fw-medium"
                >0.896532
                <span class="badge rounded text-success bg-success-subtle"
                  >0.91%</span
                ></span
              >
            </td>
          </tr>
          <!--end tr-->
          <tr class="">
            <td class="px-0">
              <div class="d-flex align-items-center">
                <img
                  src="assets/images/flags/french_flag.jpg"
                  class="me-2 align-self-center thumb-sm rounded-circle"
                  alt="..."
                />
                <h6 class="m-0 text-truncate">French</h6>
              </div>
              <!--end media-->
            </td>
            <td class="px-0 text-end">
              <span class="text-body ps-2 align-self-center text-end fw-medium"
                >0.875433
                <span class="badge rounded text-danger bg-danger-subtle"
                  >0.11%</span
                ></span
              >
            </td>
          </tr>
          <!--end tr-->
          <tr class="">
            <td class="px-0">
              <div class="d-flex align-items-center">
                <img
                  src="assets/images/flags/germany_flag.jpg"
                  class="me-2 align-self-center thumb-sm rounded-circle"
                  alt="..."
                />
                <h6 class="m-0 text-truncate">Germany</h6>
              </div>
              <!--end media-->
            </td>
            <td class="px-0 text-end">
              <span class="text-body ps-2 align-self-center text-end fw-medium"
                >0.795621
                <span class="badge rounded text-success bg-success-subtle"
                  >0.85%</span
                ></span
              >
            </td>
          </tr>
          <!--end tr-->
          <tr class="">
            <td class="px-0">
              <div class="d-flex align-items-center">
                <img
                  src="assets/images/flags/french_flag.jpg"
                  class="me-2 align-self-center thumb-sm rounded-circle"
                  alt="..."
                />
                <h6 class="m-0 text-truncate">French</h6>
              </div>
              <!--end media-->
            </td>
            <td class="px-0 text-end">
              <span class="text-body ps-2 align-self-center text-end fw-medium"
                >0.875433
                <span class="badge rounded text-danger bg-danger-subtle"
                  >0.11%</span
                ></span
              >
            </td>
          </tr>
          <!--end tr-->
          <tr class="">
            <td class="px-0 pb-0">
              <div class="d-flex align-items-center">
                <img
                  src="assets/images/flags/baha_flag.jpg"
                  class="me-2 align-self-center thumb-sm rounded-circle"
                  alt="..."
                />
                <h6 class="m-0 text-truncate">Bahamas</h6>
              </div>
              <!--end media-->
            </td>
            <td class="px-0 pb-0 text-end">
              <span class="text-body ps-2 align-self-center text-end fw-medium"
                >0.845236
                <span class="badge rounded text-danger bg-danger-subtle"
                  >0.22%</span
                ></span
              >
            </td>
          </tr>
          <!--end tr-->
        </tbody>
      </table>
      <!--end table-->
    </div>
    <!--end /div-->
    <hr class="hr-dashed" />
    <div class="row">
      <div class="col-lg-6 text-center">
        <div class="p-2 border-dashed border-theme-color rounded">
          <p class="text-muted text-uppercase mb-0 fw-normal fs-13">
            Higher Rate
          </p>
          <h5 class="mt-1 mb-0 fw-medium text-success">0.833658</h5>
          <small>05 Sep 2024</small>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-6 text-center">
        <div class="p-2 border-dashed border-theme-color rounded">
          <p class="text-muted text-uppercase mb-0 fw-normal fs-13">
            Lower Rate
          </p>
          <h5 class="mt-1 mb-0 fw-medium text-danger">0.812547</h5>
          <small>05 Sep 2024</small>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end card-body-->
</div>
