<div class="card">
  <div class="card-body">

    <div class="position-absolute end-0 me-3">
      <span [ngClass]="{
        'badge rounded text-danger bg-transparent border border-danger': item.status === 'completed',
        'badge rounded text-warning bg-transparent border border-warning': item.status === 'pending',
        'badge rounded text-success bg-transparent border border-success': item.status === 'in-progress',
        'badge rounded text-primary bg-transparent border border-primary': item.progress
      }">
        @if(item.status){
        {{item.status | sentenceCase}}
        } @else{
        {{item.progress}}%
        }
      </span>
    </div>

    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">
        <img [src]="item.image" alt="" height="50" class="rounded-circle d-inline-block" />
      </div>
      <div class="flex-grow-1 ms-2 text-truncate">
        <h5 class="fw-bold mb-1 fs-15">{{item.title}}</h5>
        <p class="text-dark mb-0 fs-13 fw-semibold">
          <span class="text-muted">Client : </span>{{item.client}}
        </p>
      </div>
    </div>

    @if(item.assignees){
    <div class="d-flex justify-content-between fw-semibold align-items-center my-3 ">
      <div class="img-group d-flex justify-content-center">
        @for (assignee of item.assignees; track $index;let idx = $index) {
        <a class="user-avatar position-relative d-inline-block {{idx !==0 && 'ms-n2'}}" href="javascript:void(0);">
          <img [src]="assignee.image" alt="avatar" class="thumb-md shadow-sm rounded-circle" />
        </a>
        }
      </div>
      <button type="button" class="btn btn-primary btn-sm px-3">
        Details
      </button>
    </div>
    }

    <div class="">
      @if (item.tasks && item.progress) {
      <div class="d-flex justify-content-between fw-semibold align-items-center">
        <p class="mb-1 d-inline-flex align-items-center">
          <i class="iconoir-task-list fs-18 text-muted me-1"></i>{{item.tasks}}
          Tasks
        </p>
        <small class="text-end text-body-emphasis d-block ms-auto">{{item.progress}}%</small>
      </div>
      <div class="progress bg-secondary-subtle" style="height: 5px">
        <div class="progress-bar bg-secondary rounded-pill" role="progressbar"
          [ngStyle]="{'margin-right': '2px', 'width': item.progress + '%'}"></div>
      </div>
      }

      @if (item.budget && item.startDate && item.endDate) {
      <div class="row mt-3 align-items-center">
        <div class="col-auto col-md-5">
          <div class="text-start">
            <h5 class="fs-16 fw-semibold mb-0">{{item.budget}}</h5>
            <p class="mb-0 text-muted">Total Budget</p>
          </div>
        </div>

        <div class="col col-md-7 text-end align-self-center">
          <h6 class="fw-normal text-muted fs-12 mb-1">
            Start :
            <span class="text-dark fw-semibold">{{item.startDate}}</span>
          </h6>
          <h6 class="fw-normal text-muted mb-0 fs-12">
            Deadline :
            <span class="text-dark fw-semibold">{{item.endDate}}</span>
          </h6>
        </div>

      </div>
      }
    </div>
  </div>

</div>