<div class="row">
  <div class="col-lg-6">
    <h5 class="mt-4">Términos y condiciones :</h5>
    <ul class="ps-3">
      <li>
        <small class="fs-12"
          >Todas las cuentas deben abonarse en un plazo de 7 días a partir de la recepción de la factura.
        </small>
      </li>
      <li>
        <small class="fs-12"
          >A pagar mediante cheque o tarjeta de crédito o pago directo en línea.</small
        >
      </li>
      <li>
        <small class="fs-12">
          Si la cuenta no se abona en un plazo de 7 días, los detalles de los créditos suministrados como confirmación del trabajo realizado se cobrarán según la tarifa acordada indicada anteriormente.</small
        >
      </li>
    </ul>
  </div>
  <!--end col-->
  <div class="col-lg-6 align-self-center">
    <div class="float-none float-md-end" style="width: 30%">
      <small>Gestor de cuentas</small><br />
      <img
        src="assets/images/extra/signature.png"
        alt=""
        class="mt-2 mb-1"
        height="30"
      />
      <p class="border-top">Firma</p>
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->
