<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card bg-corner-img">
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <div class="col-9">
            <p class="text-muted text-uppercase mb-0 fw-normal fs-13">
              Total Revenue
            </p>
            <h4 class="mt-1 mb-0 fw-medium">$8365.00</h4>
          </div>
          <!--end col-->
          <div class="col-3 align-self-center">
            <div
              class="d-flex justify-content-center align-items-center thumb-md border-dashed border-primary rounded mx-auto"
            >
              <i
                class="iconoir-dollar-circle fs-22 align-self-center mb-0 text-primary"
              ></i>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
  <div class="col-md-6 col-lg-6">
    <div class="card bg-corner-img">
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <div class="col-9">
            <p class="text-muted text-uppercase mb-0 fw-normal fs-13">
              New Order
            </p>
            <h4 class="mt-1 mb-0 fw-medium">722</h4>
          </div>
          <!--end col-->
          <div class="col-3 align-self-center">
            <div
              class="d-flex justify-content-center align-items-center thumb-md border-dashed border-info rounded mx-auto"
            >
              <i
                class="iconoir-cart fs-22 align-self-center mb-0 text-info"
              ></i>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
