<div class="row justify-content-center g-3">
  <!-- Tarjeta "Crear Factura" -->
  <div class="col-md-6">
    <div class="card rounded-3 shadow-sm border-0 bg-light position-relative hover-card" (click)="redirectionToNewTransaction()" style="cursor:pointer;">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div>
          <p class="text-dark fw-semibold fs-16 mb-0">Crear Factura</p>
        </div>
        <div class="icon-container">
          <i class="fas fa-money-check fs-22 text-primary"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Tarjeta "Nuevo Cliente" -->
  <div class="col-md-6">
    <div class="card rounded-3 shadow-sm border-0 bg-light position-relative hover-card" (click)="redirectionToNewClient()" style="cursor:pointer;">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div>
          <p class="text-dark fw-semibold fs-16 mb-0">Nuevo Cliente</p>
        </div>
        <div class="icon-container">
          <i class="fas fa-user-plus fs-22 text-success"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Nueva fila para "Facturas Pendientes" -->
<div class="row justify-content-center g-3">
  <div class="col-12">
    <div class="card rounded-3 shadow-sm border-0 bg-light position-relative hover-card" (click)="redirectionToPendingInvoices()" style="cursor:pointer;">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div>
          <p class="text-dark fw-semibold fs-16 mb-0">Facturas Pendientes</p>
        </div>
        <div class="icon-container">
          <i class="fas fa-exclamation-circle fs-22 text-danger"></i>
        </div>
      </div>
    </div>
  </div>
</div>
