<!-- <div class="dynamic-select" [ngStyle]="{ width: width, height: height }">
    <input type="hidden" name="dynamic-select" [value]="selectedValue">
    <div class="dynamic-select-header" (click)="toggleOptions()">
      <img *ngIf="selectedValue?.img" [src]="selectedValue.img" [alt]="selectedValue.text" [ngStyle]="getImageStyle(selectedValue)">
      {{ placeholder }}
    </div>
    <div class="dynamic-select-options" *ngIf="optionsVisible">
      <div *ngFor="let option of data" class="dynamic-select-option" (click)="selectOption(option)">
        <img *ngIf="option.img" [src]="option.img" [alt]="option.text" [ngStyle]="getImageStyle(option)">
        <span>{{ option.text }}</span>
      </div>
    </div>
  </div> -->
