<pagetitle title="Cards" />

<div class="row g-3 mb-3">
  <div class="col-md-12 col-lg-3">
    <div class="card h-100 bg-blue bg-globe-img">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <p class="text-white text-uppercase mb-0 fw-semibold fs-14">
              Master Card
            </p>
          </div>
          <!--end col-->
          <div class="col-3 align-self-center text-end">
            <img
              src="assets/images/logos/m-card.png"
              alt=""
              class=""
              height="20"
            />
          </div>
          <!--end col-->
        </div>
        <!--end row-->
        <div class="row mt-3 mb-1">
          <div class="col-9">
            <p class="text-white-50 text-uppercase mb-0 fw-normal fs-12">
              Balance
            </p>
            <h5 class="mt-1 mb-0 fw-semibold fs-20 text-white">$98659.50</h5>
          </div>
          <!--end col-->
          <div class="col-3 align-self-center text-end">
            <i class="iconoir-wifi fs-24 trans-90 text-white-50"></i>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-body-->
      <div class="card-body p-2 bg-black rounded-bottom">
        <div class="row">
          <div class="col-6">
            <p class="text-white-50 text-uppercase mb-0 fw-normal fs-12">
              Expiry: 01/32
            </p>
            <h5 class="mt-1 mb-0 fw-medium fs-14 text-white">Daniel Leonard</h5>
          </div>
          <!--end col-->
          <div class="col-6 align-self-center text-end">
            <p class="text-white-50 text-uppercase mb-0 fw-normal fs-12">
              CVV: 301
            </p>
            <h5 class="mt-1 mb-0 fw-medium fs-14 text-white">
              **** **** **** 1234
            </h5>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
  <div class="col-md-12 col-lg-3">
    <div class="card h-100 bg-warning bg-globe-img">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <p class="text-white text-uppercase mb-0 fw-semibold fs-14">
              Visa Card
            </p>
          </div>
          <!--end col-->
          <div class="col-3 align-self-center text-end">
            <img
              src="assets/images/logos/visa.png"
              alt=""
              class=""
              height="20"
            />
          </div>
          <!--end col-->
        </div>
        <!--end row-->
        <div class="row mt-3 mb-1">
          <div class="col-9">
            <p class="text-white-50 text-uppercase mb-0 fw-normal fs-12">
              Balance
            </p>
            <h5 class="mt-1 mb-0 fw-semibold fs-20 text-white">$44125.50</h5>
          </div>
          <!--end col-->
          <div class="col-3 align-self-center text-end">
            <i class="iconoir-wifi fs-24 trans-90 text-white-50"></i>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-body-->
      <div class="card-body p-2 bg-black rounded-bottom">
        <div class="row">
          <div class="col-6">
            <p class="text-white-50 text-uppercase mb-0 fw-normal fs-12">
              Expiry: 01/35
            </p>
            <h5 class="mt-1 mb-0 fw-medium fs-14 text-white">Mary Mallory</h5>
          </div>
          <!--end col-->
          <div class="col-6 align-self-center text-end">
            <p class="text-white-50 text-uppercase mb-0 fw-normal fs-12">
              CVV: 650
            </p>
            <h5 class="mt-1 mb-0 fw-medium fs-14 text-white">
              **** **** **** 1234
            </h5>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
  <div class="col-md-12 col-lg-3">
    <div class="card h-100 bg-black bg-globe-img">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <p class="text-white text-uppercase mb-0 fw-semibold fs-14">
              Master Card
            </p>
          </div>
          <!--end col-->
          <div class="col-3 align-self-center text-end">
            <img
              src="assets/images/logos/m-card.png"
              alt=""
              class=""
              height="20"
            />
          </div>
          <!--end col-->
        </div>
        <!--end row-->
        <div class="row mt-3 mb-1">
          <div class="col-9">
            <p class="text-white-50 text-uppercase mb-0 fw-normal fs-12">
              Balance
            </p>
            <h5 class="mt-1 mb-0 fw-semibold fs-20 text-white">$36251.50</h5>
          </div>
          <!--end col-->
          <div class="col-3 align-self-center text-end">
            <i class="iconoir-wifi fs-24 trans-90 text-white-50"></i>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-body-->
      <div class="card-body p-2 bg-soft-secondary rounded-bottom">
        <div class="row">
          <div class="col-6">
            <p class="text-white-50 text-uppercase mb-0 fw-normal fs-12">
              Expiry: 01/30
            </p>
            <h5 class="mt-1 mb-0 fw-medium fs-14 text-white">John Carter</h5>
          </div>
          <!--end col-->
          <div class="col-6 align-self-center text-end">
            <p class="text-white-50 text-uppercase mb-0 fw-normal fs-12">
              CVV: 511
            </p>
            <h5 class="mt-1 mb-0 fw-medium fs-14 text-white">
              **** **** **** 1234
            </h5>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
  <div class="col-md-12 col-lg-3">
    <div class="card h-100 bg-dark-subtle bg-globe-img">
      <div class="card-body text-center">
        <a
          href="javascript:void(0);"
          class="h-100 d-block"
          (click)="open(card)"
          data-bs-toggle="modal"
          data-bs-target="#addCard"
        >
          <div class="position-relative h-100 d-block">
            <div class="position-absolute top-50 start-50 translate-middle">
              <i class="fas fa-plus fs-30"></i>
              <h5 class="fw-medium fs-18 text-muted">Add Card</h5>
            </div>
          </div>
        </a>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>

<div class="row justify-content-center">
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">All Transactions</h4>
          </div>
          <!--end col-->
          <div class="col-auto">
            <div class="dropdown" ngbDropdown>
              <a
                href="javascript:void(0);"
                ngbDropdownToggle
                class="btn bt btn-light dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="icofont-calendar fs-5 me-1"></i> This Month<i
                  class="las la-angle-down ms-1"
                ></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:void(0);">Today</a>
                <a class="dropdown-item" href="javascript:void(0);"
                  >Last Week</a
                >
                <a class="dropdown-item" href="javascript:void(0);"
                  >Last Month</a
                >
                <a class="dropdown-item" href="javascript:void(0);"
                  >This Year</a
                >
              </div>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead class="table-light">
              <tr>
                <th class="border-top-0">Date</th>
                <th class="border-top-0">Type</th>
                <th class="border-top-0">Description</th>
                <th class="border-top-0">Approx</th>
                <th class="border-top-0">Status</th>
                <th class="border-top-0">Action</th>
              </tr>
              <!--end tr-->
            </thead>
            <tbody>
              @for (item of cardsData; track $index) {
                <tr>
                  <td>{{ item.date }}</td>
                  <td>{{ item.medioPago }}</td>
                  <td>{{ item.concepto }}</td>
                  <td>{{ item.importe }}</td>
                  <td>
                    <a href="javascript:void(0);"
                      ><i class="las la-print text-secondary fs-18"></i
                    ></a>
                    <a href="javascript:void(0);"
                      ><i class="las la-download text-secondary fs-18"></i
                    ></a>
                    <a href="javascript:void(0);"
                      ><i class="las la-trash-alt text-secondary fs-18"></i
                    ></a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
          <!--end table-->
        </div>
        <!--end /div-->
        <div class="d-lg-flex justify-content-lg-between mt-2">
          <div class="mb-2 mb-lg-0">
            <button type="submit" class="btn btn-primary px-4">
              Add Transaction
            </button>
          </div>
          <div>
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0);" tabindex="-1"
                  >Previous</a
                >
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0);">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">Next</a>
              </li>
            </ul>
            <!--end pagination-->
          </div>
        </div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>

<ng-template
  let-modal
  #card
  class="modal fade"
  id="addCard"
  tabindex="-1"
  aria-labelledby="addCardLabel"
  aria-hidden="true"
>
  <div class="modal-header">
    <h5 class="modal-title" id="addCardLabel">Add Card Detail</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-2">
      <label for="fullName">Full Name</label>
      <div class="input-group">
        <span class="input-group-text" id="fullName"
          ><i class="fas fa-user"></i
        ></span>
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          aria-label="FullName"
        />
      </div>
    </div>
    <div class="mb-2">
      <label for="cardNumber">Card Number</label>
      <div class="input-group">
        <span class="input-group-text" id="cardNumber"
          ><i class="fas fa-credit-card"></i
        ></span>
        <input
          type="text"
          class="form-control"
          placeholder="**** **** **** ****"
          aria-label="cardNumber"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2">
          <label for="ExpiryDate">Expiry Date</label>
          <div class="input-group">
            <span class="input-group-text" id="ExpiryDate"
              ><i class="far fa-calendar"></i
            ></span>
            <input
              type="text"
              class="form-control"
              placeholder="01/35"
              aria-label="ExpiryDate"
            />
          </div>
        </div>
      </div>
      <!--end col-->
      <div class="col-md-6">
        <div class="mb-2">
          <label for="Cvv">CVV</label>
          <div class="input-group">
            <span class="input-group-text" id="CVV"
              ><i class="fas fa-ellipsis"></i
            ></span>
            <input
              type="text"
              class="form-control"
              placeholder="123"
              aria-label="CVV"
            />
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary w-100">Add Card</button>
  </div>
</ng-template>
